   <footer class='bg-[#1C2028] mt-36'>
                <div class=' max-w-[1270px] mx-auto py-20  px-5'>
                <div class='grid grid-cols-1 lg:grid-cols-4'>
                    <div class='col-span-2'>
                        <img src='../public/img/Logo.svg' alt='Logo'>
                        <div class='mt-10 mb-5'>
                        <div class='p-3 rounded-full border-[#292F3B] border-[1px] inline-block'>
                           <img src='../public/' alt='Facebook'>
                        </div> <div class='p-3 rounded-full border-[#292F3B] border-[1px] inline-block'>
                           <img src='../public/img/instagram.svg' alt='Instagram'>
                        </div> <div class='p-3 rounded-full border-[#292F3B] border-[1px] inline-block'>
                           <img src='../public/img/youtube.svg' alt='Youtube'>
                        </div> <div class='p-3 rounded-full border-[#292F3B] border-[1px] inline-block'>
                           <img src='../public/img/twitter.svg' alt='Twitter'>
                        </div>
                        </div>
                    </div>

                    <div class='col-span-2 lg:pl-16'>
                        <h4 class='text-[#00d563] text-md mb-5'>Subscription</h4>
                        <div class='border-2  border-white/10 inline-block rounded-xl px-5 lg:w-full relative'>
                            <input type="text" class='h-full bg-transparent w-full outline-none /10 my-2.5 pr-36 placeholder-white/10' placeholder='E-mail' />
                            <button type="button" class="text-[#0f1228] absolute right-5 top-1 bg-[#00d563] hover:bg-[#00d563] focus:ring-4 hover:text-[#0f1228] font-medium rounded-lg text-sm px-10 py-2">
                                Subscribe
                            </button>
                        </div>
                    </div>
                   </div> 
                    <div class="grid grid-cols-1 lg:grid-cols-3">
                    <div>
                        <h4 class='text-[#00d563] text-md my-5'>Info</h4>
                        <div><a class='hover:text-[#00d563] '  href="/">Core HR</a></div>
                        <div><a class='hover:text-[#00d563] ' href="/">Payroll</a></div>
                        <div><a class='hover:text-[#00d563] ' href="/">Hiring  Onboarding</a></div>
                        <div><a class='hover:text-[#00d563] ' href="/">Time Attendance</a></div>
                        <div><a class='hover:text-[#00d563] ' href="/">Performance</a></div>
                    </div>
                    <div>
                        <h4 class='text-[#00d563] text-md my-5'>About us</h4>
                        <div><a class='hover:text-[#00d563] ' href="/">Gallery</a></div>
                        <div><a class='hover:text-[#00d563] ' href="/">Technologies</a></div>
                        <div><a class='hover:text-[#00d563] ' href="/">Contacts</a></div>
                    </div>
                    <div>
                        <h4 class='text-[#00d563] text-md my-5'>Contact us</h4>
                        <div class=''>Sales: +91 89292 08062</div>
                        <div><a class='hover:text-[#00d563] ' href="/">sales@gitlime.com</a></div>
                        <p class='mt-5 '>For Support:</p>
                        <div><a class='hover:text-[#00d563] ' href="/">support@gitlime.com</a></div>
                        <p class='mt-5 '>For Marketing:</p>
                        <div><a class='hover:text-[#00d563] ' href="/">marketing@keka.com</a></div>
                    </div>
               </div>
               </div>   
            </footer>